# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
build/
dist/
*.egg-info/

# ML/DL Models
models/saved_models/*
!models/saved_models/.gitkeep

# MLflow
mlruns/
mlartifact/

# Node.js
node_modules/
frontend/dist/
.eslintcache

# Docker
.docker/

# OS
.DS_Store
Thumbs.db

# Kubernetes
kubernetes/manifests/.DS_Store
